:root{
    font-family: 'Roboto', sans-serif;
}

header{
display: flex;
justify-content: center;
width: 100vw;
background-color: blue;
color: cornsilk;
} 

aside{
    display: flex;
    flex-direction: column;
    flex-grow: 1,0,1;
}

Section{
    display: flex;
    flex-direction: column;
    flex-grow: 4, 1,1;
    justify-content: right;

}

aside div{
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

#dailyForcast{
    border-style: solid;
    border-width: thin;

}